# Frontend
FRONTEND_PORT=5173

# Backend
BACKEND_PORT=8080

# PostgreSQL
POSTGRES_VERSION=17
POSTGRES_PORT=5432
POSTGRES_DB=nimbus
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_SHM_SIZE=128mb
POSTGRES_TMPFS_SIZE=134217728

# Adminer
ADMINER_PORT=8081